/*
 *  main.css
 *
 *   Main CSS file for website. Provides definitions for:
 *    - a sidebar
 *    - content pane
 *    - title banner
 */


body {
	background-color:#cc99ff;	/*#bbe261, #f09010, #ffc234 */
	margin:10px;
	width:800px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	color:#042759;		/*#801111, #901111 */
}


/* Common properties for all divs */

.fullpanel, .mainpanel, .sidebarbox, .title {
	background-color:white;
	border:2px solid #1a0084;	/*#f09010 #ff8600 */
	margin:10px;
	padding:8px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.sidebarbox {
	margin-bottom:20px;
}

.title {
	font-weight:bold;
	font-size:large;
	text-align:center;
}

.sidebar {
	float:left;
	width:240px;
}

.mainpanel {
	float:left;
	width:520px;
}

.fullpanel {
	/* nothing new */
}

div.dash {
	margin-top:0;
	margin-bottom:0;
	margin-right:5px;
	margin-left:5px;
	padding:0;
	border:1px solid #66ccff;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	width:auto;
}

hr {
	color:#ed38d5;
	background-color:#ed38d5;
	height:1px;
	border:none;
	margin:8px;
}

span.sbtitle {
	display:block;
	font-weight:bold;
	padding-top:1px;
	padding-bottom:1px;
}

ul.sbindent {
	list-style-type:none;
	padding:0px;
	margin-right:0px;
	margin-left:18px;
	margin-top:0px;
	margin-bottom:0px;
	font-style:normal;
}

ul.sbright {
	list-style-type:none;
	padding:0px;
	margin-right:0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	font-style:normal;
	float: right;
}

ul.sbindentitalic {
	list-style-type:none;
	padding:0px;
	margin-right:0px;
	margin-left:18px;
	margin-top:0px;
	margin-bottom:0px;
	font-style:italic;
}

div.sbspacer {
	height:4px;
	width:1px;
	display:block;
	padding:0px;
	margin:0px;
}

ul.toplinks {
	list-style-type:none;
	margin:0px;
	padding:5px 0px 0px 0px;
	overflow:hidden;
}

li.toplinks {
	display:inline;
}

a.toplinks {
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	text-decoration:none;
	font-size:85%;
	color:#6699ff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

a.toplinks:hover, a.toplinks:active {
	background-color:#6699ff;
	color:white;
}

a.titlelink {
	color:#3300cc;
	text-decoration:none;
}


a.linklist {
        display:block;
        padding-left:10px;
        padding-top:5px;
        padding-bottom:0px;
        margin:0px;
}

/* Date markers */
span.date {
	background-color:#cccc00;
	color:white;
	padding:2px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

td.chead {
	text-align:right;
	vertical-align:top;
	padding:0px 10px 0px 0px;
}

td.cbody {
	vertical-align:top;
}

p {
	margin-top:0px;
	margin-bottom:9px;
}


table.calendar {
	border-collapse:collapse;
}

th.calendar {
	padding-top:3px;
	padding-bottom:5px;
	background-color:#e05031;
	border-style:none solid none solid;
	border-color:#e05031;
	border-width:2pt;
	color:white;
}

td.calendar {
	height:80px;
	width:140px;
	border:2pt solid #ddd;
	vertical-align:top;
	padding:5px 3px;
}

div.calwrap {
	position:relative;
	left:0px;
	top:0px;
	height:80px;
	width:134px;
}

.calcont, .calspecial {
	position:absolute;
	left:4px;
	top:32px;
	height:80px;
	width:130px;
	text-align:center;
}

.calcont {
	color:#444;
}


/* Calendar date markers */
span.caldate {
	background-color:#ddd;		/* f07051 */
	color:#666;
	padding:2px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	position:relative;
	left:-5px;
	top:-5px;
}

span.hwindent {
	display:block;
	margin-left:40px;
}
